<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="./styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Sign-Up</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center mx-auto">

        <h1 class="aja">WELCOME TO AJA</h1>
        <img class="logo img-fluid" src="./assets/aja-logo@2x.png" alt="Aja App logo image">
        <h5>Sign up to track your gardens growth!</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 mx-auto">
        <form class="space">
          <div class="form-group">
            <label for="inputName">Name</label>
            <input type="name" class="form-control" id="inputName" placeholder="Enter your name">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Enter your email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>

          <button type="submit" class="btn btn-primary btn-block button">Sign-Up</button>
        </form>

      </div>
    </div>
  </div>




</body>

</html>